$BODY_BG_COLOR: #f8f8f8; //页面背景色
$LAYOUT_WIDTH: 1200px; //页面主体内容宽度
$GREEN: #1cbcb4; //绿色，成功、通过
$HOVER: #00bd79;
$GREEN_MORE: #94b93c; //图表数据跌
$BORDERCOLOR: #e2e2e2; //边框颜色
$BLUE: #1C5FC2; //蓝色
$RED: #F4615C; //红色，错误、警告
$RED_G: #de373e; // 全局主题红色
$GRAY: #a9a9a9; //灰色
$WHITE: #fff; //白色
$ORANGE: #EF6512; //橙色

//文字颜色
$TEXTCOLOR_EM: #EF6512;//文字强调色
$TEXTCOLOR_NORMAL: #323232; //正常字体颜色
$TEXTCOLOR_WEAK: #878787; //弱文字颜色
$TEXTCOLOR_WEAK_MORE: #9e9e9e; //更弱文字颜色
$TEXTCOLOR_BIGTITLE: #383c3b; //大标题文字颜色

$CELL_HEIGHT: 4px; //栅格系统单元格高度
$CELL_WIDTH: 6px; //栅格系统单元格宽度
$LINE_HEIGHT_S: 20px;
$LINE_HEIGHT_M: 24px;
$LINE_HEIGHT_L: 28px;
$MOD_HOVER_COLOR: #f8f8f8;

$SIDEBAR_WIDTH: 255px;


$MAIN_BLUE: #126ee1;
