.gender-row {
  text-align: left;
}

.left-align {
  text-align: left;
  .ant-form-item-control {
    max-width: 100%;
  }
  .ant-form-item-control-input-content {
    .ho-content {
      margin: 0 0 10px 22px;
    }
  }
}

.login-form {
  padding-top: 60px;
}

.msg-btn-container button {
  span {
    font-size: 12px;
  }
}

.msg-btn-container {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.official-content {
  text-align: center;
}
.infoUser {
  background: url("../../assets/img/info/bg2.png") no-repeat;
  background-size: cover;
  padding-bottom: 200px;
  .headerTop {
    background: url("../../assets//img/info/header.png") no-repeat;
    background-size: cover;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 206px;
      height: 50px;
    }
  }
  .ant-form {
    .title {
      height: 44px;
      background: url("../../assets//img/info/header.png") no-repeat;
      background-size: cover;
      line-height: 44px;
      margin: 0;
    }
    .info {
      height: 490px;
      padding: 48px 0 50px 72px;
      background: url("../../assets/img/info/bg2.png") no-repeat;
      background-size: cover;
      .ant-row {
        .ant-form-item-control {
          flex: 0.3;
        }
        .ant-col {
          display: flex;
        }
        .msg-btn-container {
          margin-left: 18px;
          .ant-btn-sm {
            width: 130px;
            height: 39px;
            padding: 9px 6px;
            span {
              font-size: 14px;
              font-family: Microsoft YaHei;
              font-weight: 400;
              line-height: 14px;
              color: rgba(255, 255, 255, 1);
            }
          }
        }
        // .ant-col-17 {
        //     flex: 1;
        //     // max-width: 90%;
        // }
      }
    }
    .box-border {
      background: url("../../assets/img//info/bg2.png") no-repeat;
      background-size: cover;
      border: 2px solid rgba(255, 255, 255, 1);
    }
    .title-top {
      margin-top: 40px;
    }
    .demand {
      height: 520px;
      padding: 50px 64px;
      font-weight: normal;
      font-stretch: normal;
      .ant-checkbox-wrapper {
        font-family: MicrosoftYaHei;
        font-size: 20px;
        letter-spacing: 0px;
        color: #2f3250;
        margin-bottom: 7px;
      }
      .dice {
        border: solid 1px #639eea;
        font-family: MicrosoftYaHei;
        font-size: 18px;
        line-height: 18px;
        letter-spacing: 0px;
        color: #639eea;
        margin: 0 45px 30px 0;
      }
    }
    .follow {
      padding-top: 60px;
      position: relative;
      &-title {
        font-size: 18px;
        font-family: Microsoft YaHei;
        font-weight: 400;
        color: rgba(47, 50, 80, 1);
        margin-bottom: 14px;
      }
      .official-content {
        margin-bottom: 50px;
      }
      .posi-box {
        position: absolute;
        bottom: -112px;
        left: 7px;
        width: 100%;
        .ant-btn {
          width: 300px;
          height: 52px;
        }
        .ant-form-item {
          margin: 0;
        }
        .confrim {
          display: flex;
          /* text-align: center; */
          justify-content: center;
        }
      }
    }
    .flo-left {
      float: left;
      margin: 28px 0 0 0px;
      font-family: MicrosoftYaHei;
      font-size: 20px;
      font-weight: normal;
      font-stretch: normal;
      line-height: 28px;
      letter-spacing: 0px;
      color: #2f3250;
    }
    .confrim {
      display: flex;
      justify-content: center;
      &-btn {
        width: 376px;
        height: 79px;
        margin-top: 17px;
        font-size: 22px;
      }
    }
  }
  .read-hook {
    margin-left: 20px;
  }
}
