.project-case-box {
  text-align: left;
  .pro-case-title {
    font-size: 26px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(28, 95, 194, 1);
    line-height: 35px;
    margin-bottom: 43px;
  }
  .pro-case-txt {
    font-size: 22px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(28, 95, 194, 1);
    line-height: 35px;
  }
  .img-bg {
    width: 572px;
    height: 298px;
  }
  .pro-conBox {
      overflow: hidden;
      margin-top: 20px;
  }
  .anli-line {
    width: 1200px;
    height: 1px;
    background: rgba(31, 105, 200, 1);
    opacity: 0.5;
    margin-top: 70px;
  }
  .anli-jump {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    .anli-result {
      font-size: 18px;
      font-family: Microsoft YaHei;
      font-weight: 400;
      color: rgba(128, 128, 128, 1);
      line-height: 35px;
      .icon-lf {
        display: inline-block;
        width: 8px;
        height: 13px;
        background: url("../../../assets/img/deveFile/icon-lf.png")
          no-repeat;
        background-size: contain;
        margin-right: 10px;
      }
      .icon-rg {
        display: inline-block;
        width: 8px;
        height: 13px;
        background: url("../../../assets/img/deveFile/icon-rg.png")
          no-repeat;
        background-size: contain;
        margin-left: 10px;
      }
    }
  }
}
